.button{

border:1px solid;
border-radius:3px;
font:700 13px montserrat;
height:30px;
line-height:28px;
padding:0 20px;
position:absolute;
text-align:centre;
box-sizing:border-size;
margin-left:50px;
margin-top:50px;

}

a{
	text-decoration:none;
	color:black;
	float:left;
	
	
}

a:hover{
	
	background-color:black;
	color:white;
	
}
.button3{

border:1px solid;
font:700 13px montserrat;
height:30px;
line-height:28px;
padding:0 20px;
margin-top:200px;
margin-left:100px;
text-align:centre;
box-sizing:border-size;
position:absolute;



}
.button4{

border:1px solid;
font:700 13px montserrat;
height:30px;
line-height:28px;
padding:0 20px;
margin-top:250px;
margin-left:100px;
text-align:centre;
box-sizing:border-size;
position:absolute;



}
.button5{

border:1px solid;
font:700 13px montserrat;
height:30px;
line-height:28px;
padding:0 20px;
margin-top:300px;
margin-left:100px;
text-align:centre;
box-sizing:border-size;
position:absolute;



}
.button6{

border:1px solid;
font:700 13px montserrat;
height:30px;
line-height:28px;
padding:0 20px;
margin-top:350px;
margin-left:100px;
text-align:centre;
box-sizing:border-size;
position:absolute;



}
.button7{

border:1px solid;
font:700 13px montserrat;
height:30px;
line-height:28px;
padding:0 20px;
margin-top:400px;
margin-left:100px;
text-align:centre;
box-sizing:border-size;
position:absolute;



}


a{
	text-decoration:none;
	color:white;
	
	
	
}

a:hover{

background-color:white;
color:black;

}
.container{
	
	text-align:centre;
	position:absolute;
    left:50%;
	margin-top:75px;
    transform:translate(-50%,0);
	font-family:arial,verdane;
}
.container span{
	
	color:white;
    text-transform:uppercase;
	display:block;
}
.text1{
	font-size:40px;
	font-weight:700;
	letter-spacing:8px;
	animation:text 10s 1;
	animation-iteration-count:infinite;
	
}
@keyframes text{
	0%{
		color:black;
		margin-bottom:-40px;
	}
 
 
 30%{

  letter-spacing:10px;
 margin-bottom:-40px;
 }	
  85%{
	
	letter-spacing:9px;
	margin-bottom:-40px;
	
 }	

}